 <!-- TrustBox widget - Carousel -->
 <div class="trustpilot-widget" 
  data-locale="{{ .Site.Params.trustbox.Locale }}" 
  data-template-id="54d0e1d8764ea9078c79e6ee" 
  data-businessunit-id="5c77474daf0021000143bd13" 
  data-style-height="300px" 
  data-style-width="100%" 
  data-theme="light" 
  data-stars="4,5"
  data-tags="order-lang-{{ .Lang }}">
  <a href="https://trustpilot.com/review/www.heurekaprints.com" 
    target="_blank" 
    rel="noopener">
     Trustpilot
  </a>
 </div>
<!-- End TrustBox widget -->


