<div class="gallery grid">
  <div class="gallery-buttons">
    <div class="gallery-btn left" onclick="scrollPreviousInsta(this)">
      <div class="arrow left"></div>
    </div>
    <div class="gallery-btn right" onclick="scrollNextInsta(this)">
      <div class="arrow right"></div>
    </div>
  </div>
  <div class="gallery-element grid">
    <img class="gallery-photo grid top lazyload" 
      data-src="/webpack/src/images/global/photo_insta_1_500x.jpg" 
      data-srcset="
        /webpack/src/images/global/photo_insta_1_360x.jpg 360w,
        /webpack/src/images/global/photo_insta_1_500x.jpg 500w">
    <img class="gallery-photo grid bottom lazyload" 
      data-src="/webpack/src/images/global/photo_insta_2_500x.jpg" 
      data-srcset="
        /webpack/src/images/global/photo_insta_2_360x.jpg 360w,
        /webpack/src/images/global/photo_insta_2_500x.jpg 500w">
  </div>
  <div class="gallery-element grid">
    <img class="gallery-photo grid top lazyload"
      data-src="/webpack/src/images/global/photo_insta_3_500x.jpg" 
      data-srcset="
        /webpack/src/images/global/photo_insta_3_360x.jpg 360w,
        /webpack/src/images/global/photo_insta_3_500x.jpg 500w">
    <img class="gallery-photo grid bottom lazyload" 
      data-src="/webpack/src/images/global/photo_insta_4_500x.jpg" 
      data-srcset="
        /webpack/src/images/global/photo_insta_4_360x.jpg 360w,
        /webpack/src/images/global/photo_insta_4_500x.jpg 500w">
  </div>
  <div class="gallery-element grid">
    <img class="gallery-photo grid top lazyload" 
      data-src="/webpack/src/images/global/photo_insta_5_500x.jpg" 
      data-srcset="
        /webpack/src/images/global/photo_insta_5_360x.jpg 360w,
        /webpack/src/images/global/photo_insta_5_500x.jpg 500w">
    <img class="gallery-photo grid bottom lazyload" 
      data-src="/webpack/src/images/global/photo_insta_6_500x.jpg" 
      data-srcset="
        /webpack/src/images/global/photo_insta_6_360x.jpg 360w,
        /webpack/src/images/global/photo_insta_6_500x.jpg 500w">
  </div>
  <div class="gallery-element grid">
    <img class="gallery-photo grid top lazyload" 
      data-src="/webpack/src/images/{{ .Lang }}/photo_insta_7_512x.jpg" 
      data-srcset="/webpack/src/images/{{ .Lang }}/photo_insta_7_360x.jpg 360w,
      /webpack/src/images/{{ .Lang }}/photo_insta_7_512x.jpg 512w">
    <img class="gallery-photo grid bottom lazyload" 
      data-src="/webpack/src/images/global/photo_insta_8_512x.jpg" 
      data-srcset="
        /webpack/src/images/global/photo_insta_8_360x.jpg 360w,
        /webpack/src/images/global/photo_insta_8_512x.jpg 500w">
  </div>
  <div class="gallery-element grid">
    <img class="gallery-photo grid top lazyload" 
      data-src="/webpack/src/images/global/photo_insta_9_512x.jpg" 
      data-srcset="
        /webpack/src/images/global/photo_insta_9_360x.jpg 360w,
        /webpack/src/images/global/photo_insta_9_512x.jpg 500w">
    <img class="gallery-photo grid bottom lazyload" 
      data-src="/webpack/src/images/{{ .Lang }}/photo_insta_10_512x.jpg" 
      data-srcset="
        /webpack/src/images/{{ .Lang }}/photo_insta_10_360x.jpg 360w,
        /webpack/src/images/{{ .Lang }}/photo_insta_10_512x.jpg 500w">
  </div>
</div>