<div class="padding">
    <div class="gallery">
        <div class="gallery-buttons">
            <div class="gallery-btn left" onclick="scrollPrevious(this)"><div class="arrow left"></div></div>
            <div class="gallery-btn right" onclick="scrollNext(this)"><div class="arrow right"></div></div>
        </div>
        <div class="gallery-element">
            <img class="gallery-photo" src="/images/global/photo_slide_1.jpg">
            <!-- <p class="label"></p> -->
        </div>
        <div class="gallery-element">
            <img class="gallery-photo" src="/images/global/photo_slide_2.jpg">
            <!-- <p class="label"></p> -->
        </div>
        <div class="gallery-element">
            <img class="gallery-photo" src="/images/global/photo_slide_3.jpg">
            <!-- <p class="label"></p> -->
        </div>
        <div class="gallery-element">
            <img class="gallery-photo" src="/images/global/photo_slide_4.jpg">
            <!-- <p class="label"></p> -->
        </div>
    </div>
</div>