<div class="gallery feature" onscroll="setGalleryIndicator(this)">
    <div class="gallery-element feature">
        <img class="gallery-photo feature lazyload" data-src="/images/global/logos/logo_instyle.png">
    </div>
    <div class="gallery-element feature">
        <img class="gallery-photo feature lazyload" data-src="/images/global/logos/logo_neon.png">
    </div>
    <div class="gallery-element feature">
        <img class="gallery-photo feature lazyload" data-src="/images/global/logos/logo_cosy.png">
    </div>
</div>
<div class="gallery-indicator">
    <div class="indicator selected"></div>
    <div class="indicator"></div>
    <div class="indicator"></div>
</div>