<div class="gallery">
    <div class="gallery-buttons">
        <div class="gallery-btn left" onclick="scrollPrevious(this)"><div class="arrow left"></div></div>
        <div class="gallery-btn right" onclick="scrollNext(this)"><div class="arrow right"></div></div>
    </div>
    <div class="gallery-element">
        <img class="gallery-photo lazyload" data-src="/images/global/photo_occasion_1.jpg">
        <p class="label">{{ i18n "presentOpportunity4Headline"}}</p>
    </div>
    <div class="gallery-element">
        <img class="gallery-photo lazyload" data-src="/images/global/photo_occasion_2.jpg">
        <p class="label">{{ i18n "presentOpportunity1Headline"}}</p>
    </div>
    <div class="gallery-element">
        <img class="gallery-photo lazyload" data-src="/images/global/photo_occasion_3.jpg">
        <p class="label">{{ i18n "presentOpportunity2Headline"}}</p>
    </div>
    <div class="gallery-element">
        <img class="gallery-photo lazyload" data-src="/images/global/photo_occasion_4.jpg">
        <p class="label">{{ i18n "presentOppurtunityForYou"}}</p>
    </div>
</div>